{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Crear materia{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" action="{% url 'subjects:create' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Crear</button>
        <a href="{% url 'subjects:list' %}" class="btn btn-default">Regresar</a>
      </div>
    </div>
  </form>
{% endblock %}

